.container {
  display: flex;
  width: 666px;
  height: 400px;
  padding: 20px 40px;
  box-sizing: border-box;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 20px;
}
.left_content > h1 {
  font-size: 40px;
}
.left_content > p {
  font-size: 22px;
}
.right_content img {
  height: 50px;
  width: 50px;
}
